@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.bt-1 {
  background-color: #DAF7A6;
  border-color: #BEE37E;
  border-radius: 15px;
  width: 100px;
  color: black;
  padding: 0.5rem 1rem;
  font-size: 18px;
  text-transform: uppercase;
}

.bt-2 {
  background-color: #A7EACB;
  border-color: #88ACE8;
  border-radius: 15px;
  width: 110px;
  color: black;
  padding: 0.5rem 1rem;
  font-size: 18px;
  text-transform: uppercase;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 0;
}

header {
  border-bottom: 1px solid #b6958a;
}

.logo {
  width: 5rem;
}

.fuentes {
  font-size: 1.5rem;
  padding-left: 2rem;
  text-transform: uppercase;
}
.fuentes li a:hover {
  background-color: rgb(255, 200, 127);
  color: #fff;
}

.tituloProductos {
  background-color: #fcad63;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem;
}
.tituloProductos h2 {
  font-size: 1rem;
}

.tituloPrincipal {
  font-weight: bold;
  font-size: 2rem;
  background-color: #fcad63;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 2rem;
}

.central {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: all 0.45s;
}

.article img {
  width: 100px;
  height: 90px;
}

.galeria {
  margin: 20px;
  padding: 20px;
}
.galeria .center {
  text-align: center;
}

@media (max-width: 767px) and (max-width: 1023px) {
  /* Cambiar a disposición vertical en pantallas pequeñas */
  .servicios {
    flex-direction: column;
  }
  /* Alinear los h4 en una misma fila */
  .article h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
  }
}
.main {
  max-width: 1200 px;
  margin: 0 auto;
}
.main h2 {
  text-align: center;
  background-color: #fcad63;
  color: white;
}

.quienesSomos {
  font-family: "Poppins", sans-serif;
  max-width: 1200 px;
  margin: 0 auto;
}
.quienesSomos h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}
.quienesSomos p {
  margin-bottom: 1rem;
}
.quienesSomos img {
  max-width: 80%;
  border-radius: 4px;
  border: 1px solid rgba(139, 240, 181, 0.8470588235);
}

.newsletter {
  background: url("../img/nota-1.png") center/cover no-repeat;
  padding: 4rem 0;
}
.newsletter .newsletter-content {
  max-width: 1000px;
  margin: 0 auto;
  color: white;
}
.newsletter .newsletter-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  color: rgb(29, 29, 110);
  font-size: 3rem;
}
.newsletter .newsletter-content p {
  margin-top: 0;
  line-height: 20px;
  text-align: center;
  color: rgb(29, 29, 110);
}
.newsletter .newsletter-content .newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}
.newsletter .newsletter-content .newsletter-form input[type=email] {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
}

.boton {
  background-color: #e98323;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}
.boton:hover {
  background-color: #c46900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: rgb(255, 200, 127);
  padding: 40px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
  /*responsive*/
}
.footer-col h4 {
  font-size: 18px;
  color: black;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  display: inline-block;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: hwb(0 100% 0%/0.961);
  text-decoration: none;
  font-weight: 300;
  color: #0c0c0c;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(240, 233, 233, 0.945);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #d36d1a;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #D57321;
}
.footer-col .minuscula {
  text-transform: lowercase;
}
@media (max-width: 767px) {
  .footer-col .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col .footer-col {
    width: 100%;
  }
}

.contacto-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contacto-info {
  flex: 1;
  padding: 20px;
  margin: 10px;
}
.contacto-info h4 {
  text-align: center;
}
.contacto-info p {
  text-align: center;
}

.contacto-formulario {
  flex: 1;
  padding: 20px;
  margin: 10px;
}
.contacto-formulario form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.contacto-formulario h4 {
  text-align: center;
}
.contacto-formulario p {
  text-align: center;
}
.contacto-formulario .mb-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.contacto-formulario input,
.contacto-formulario textarea,
.contacto-formulario button {
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
}

.mapa-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.mapa-container iframe {
  width: 80%;
  max-width: 500px;
  height: 300px;
  border: 1px solid #eb8716;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*# sourceMappingURL=estilo.css.map */
