@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.bt-1 {
  background-color: #eba447;
  border-color: #db8727;
  border-radius: 15px;
  width: 100px;
  color: black;
  padding: 0.5rem 1rem;
  font-size: 18px;
  text-transform: uppercase;
}

.bt-2 {
  background-color: #345d83;
  border-color: #88ACE8;
  border-radius: 15px;
  width: 110px;
  color: black;
  padding: 0.5rem 1rem;
  font-size: 18px;
  text-transform: uppercase;
}

.bt-3 {
  background-color: blue;
  border-color: blue;
  border-radius: 17px;
  width: 110px;
  color: black;
  padding: 0.5rem 1rem;
  font-size: 18px;
  text-transform: uppercase;
}

* {
  font-family: "Poppins", sans-serif;
}

header {
  border-bottom: 1px solid #d3d0d0;
}
header .logo {
  width: 5rem;
}

.fuentes {
  font-size: 1.5rem;
  padding-left: 2rem;
  text-transform: uppercase;
}
.fuentes li a:hover {
  background-color: rgb(255, 200, 127);
  color: #fff;
}

.titulosSecundarios {
  background-color: rgba(142, 228, 235, 0.5333333333);
  color: rgb(61, 86, 155);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 2rem;
  font-size: 1rem;
}

.tituloPrincipal {
  font-weight: bold;
  color: #0f0f0f;
  text-align: center;
  text-transform: uppercase;
  padding: 2rem;
  font-size: 2rem;
}

.tituloSec {
  color: #302c28;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid rgba(221, 213, 206, 0.7450980392);
}

/*separador en Inicio*/
.separador {
  width: auto;
  height: 0.5rem;
  background-color: rgba(218, 212, 212, 0.7058823529);
  margin-bottom: 1.5rem;
}
.separador .article {
  margin-bottom: 2rem;
}
.separador .article img {
  margin-bottom: 2rem;
}

.central {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: all 0.45s;
}

.article img {
  width: 100px;
  height: 90px;
}

.galeria {
  margin: 20px;
  padding: 20px;
}
.galeria .center {
  text-align: center;
}

@media (max-width: 768px) {
  .imgN {
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 767px) and (max-width: 1023px) {
  /* Cambiar a disposición vertical en pantallas pequeñas */
  .servicios {
    flex-direction: column;
  }
  /* Alinear los h4 en una misma fila */
  .article h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
  }
}
.titulo {
  text-align: center;
}

.newsletter {
  background: url("../img/nota-1.png") center/cover no-repeat;
  padding: 4rem 0;
}
.newsletter .newsletter-content {
  max-width: 1000px;
  margin: 0 auto;
  color: white;
}
.newsletter .newsletter-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  color: rgb(29, 29, 110);
  font-size: 3rem;
}
.newsletter .newsletter-content p {
  margin-top: 0;
  line-height: 20px;
  text-align: center;
  color: rgb(29, 29, 110);
}
.newsletter .newsletter-content .newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}
.newsletter .newsletter-content .newsletter-form input[type=email] {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
  margin-bottom: 1rem;
}

.boton {
  background-color: #e98323;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}
.boton:hover {
  background-color: #c46900;
}

@media (max-width: 768px) { /* Cambia el ancho máximo según sea necesario */
  .newsletter-form {
    max-width: 100%; /* Cambia a 100% para que se adapte al ancho de la pantalla */
  }
  input[type=email] {
    width: 100%; /* Cambia a 100% para que ocupe todo el ancho disponible */
    max-width: none; /* Elimina el ancho máximo */
    margin-right: 0; /* Elimina el margen derecho para ajustar al borde */
    border-radius: 4px; /* Aplica el borde redondeado a todos los lados */
  }
  .boton {
    width: 100%; /* Cambia a 100% para que ocupe todo el ancho disponible */
    max-width: none; /* Elimina el ancho máximo */
    border-radius: 4px; /* Aplica el borde redondeado a todos los lados */
  }
}
.contacto-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contacto-info {
  flex: 1;
  padding: 20px;
  margin: 10px;
}
.contacto-info h4 {
  text-align: center;
}
.contacto-info p {
  text-align: center;
}

.contacto-formulario {
  flex: 1;
  padding: 20px;
  margin: 10px;
}
.contacto-formulario form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.contacto-formulario h4 {
  text-align: center;
}
.contacto-formulario p {
  text-align: center;
}
.contacto-formulario .mb-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.contacto-formulario .mb-3 input,
.contacto-formulario .mb-3 textarea,
.contacto-formulario .mb-3 button {
  width: 100%;
}
.contacto-formulario input,
.contacto-formulario textarea,
.contacto-formulario button {
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
}

.quienesSomos {
  font-family: "Poppins", sans-serif;
  max-width: 1200 px;
  margin: 0 auto;
  text-align: center;
}
.quienesSomos h2 {
  font-size: 2rem;
  font-weight: bold;
}
.quienesSomos p {
  margin-bottom: 1rem;
}
.quienesSomos img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 1rem;
  border-radius: 4px;
}

.mapa-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.mapa-container iframe {
  width: 80%;
  max-width: 500px;
  height: 300px;
  border: 1px solid #eb8716;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #f5f5f5;
}
footer .footer__content-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer__content-icons a {
  margin: 0 10px;
}
footer p {
  text-align: center;
}

.footerRedes {
  color: rgb(100, 101, 102);
}

@media (max-width: 768px) {
  .footer__content-icons {
    flex-direction: column;
    align-items: center;
  }
  ul.nav {
    flex-direction: column;
    text-align: center;
  }
  ul.nav li {
    margin: 10px 0;
  }
}
@media (max-width: 576px) {
  .footer__content-icons {
    flex-direction: column;
    align-items: center;
  }
  .footer__content-icons a {
    margin: 10px 0;
  }
  ul.nav {
    flex-direction: column;
    text-align: center;
  }
  ul.nav li {
    margin: 10px 0;
  }
}

/*# sourceMappingURL=estilo.css.map */
