   /*separador en Inicio*/
   .separador {
       width:auto;
       height: 0.5rem;
       background-color: #dad4d4b4;
       margin-bottom: 1.5rem;

       .article {
           margin-bottom: 2rem;

           img{
            margin-bottom: 2rem;
           }
       }
   }

   .central {
       display: flex;
       justify-content: center;
       align-items: center;
   }

   .card {
       border: none;
       border-radius: 10px;
       margin-bottom: 20px;
       transition: all 0.45s;
   }

   .article {
       img {
           width: 100px;
           height: 90px;
       }
   }

   .galeria {

       margin: 20px;
       padding: 20px;

       .center {
           text-align: center;
       }
   }

   @media (max-width: 767px) and (max-width: 1023px) {

       /* Cambiar a disposición vertical en pantallas pequeñas */
       .servicios {
           flex-direction: column;
       }

       /* Alinear los h4 en una misma fila */
       .article h4 {
           display: flex;
           align-items: center;
           justify-content: center;
           min-height: 80px;
       }
   }