.central {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}
.article{
    img {
        width: 100px;
        height: 90px;
    }
}