@import"variables";

.contacto-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contacto-info {
  flex: 1;
  padding: 20px;
  margin: 10px;

  h4 {
    text-align: center;
  }

  p {
    text-align: center;
  }

}

.contacto-formulario {
  flex: 1;
  padding: 20px;
  margin: 10px;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  h4 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  .mb-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  input,
  textarea,
  button {
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
  }
}


.quienesSomos {
  font-family: $fuente-principal;
  max-width: 1200 px;
  margin: 0 auto;
  text-align: center;

  h2 {
    font-size: 2rem;
    font-weight: bold;
    background-color: #8bf0b5d8; /* Color de fondo para el título h2 */
  }

  p {
    margin-bottom: 1rem;

  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 1rem;
    border-radius: 4px;
    border: 1px solid #e79b36d8;
  }

}