@import"variables";

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}


@media (max-width: 767px) and (max-width: 1023px) {

  
}
.footer {
  background-color: $color-fondo-footer;
  padding: 40px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;

  h4 {
    font-size: 18px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    display: inline-block;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -10px;
      height: 2px;
      box-sizing: border-box;
      width: 50px;
    }
  }

  ul li {
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    a {
      font-size: 16px;
      text-transform: capitalize;
      color: hwb(0 100% 0% / 0.961);
      text-decoration: none;
      font-weight: 300;
      color: #0c0c0c;
      display: block;
      transition: all 0.3s ease;

      &:hover {
        color: #ffffff;
        padding-left: 8px;
      }
    }
  }

  .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(240, 233, 233, 0.945);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #d36d1a;
    transition: all 0.5s ease;

    &:hover {
      color: #24262b;
      background-color: #D57321;
    }
  }

  .minuscula {
    text-transform: lowercase;
  }


  /*responsive*/
  @media (max-width: 767px) {
    .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
  }

  @media (max-width: 574px) {
    .footer-col {
      width: 100%;
    }
  }
}

.contacto-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contacto-info {
  flex: 1;
  padding: 20px;
  margin: 10px;

  h4 {
    text-align: center;
  }

  p {
    text-align: center;
  }

}

.contacto-formulario {
  flex: 1;
  padding: 20px;
  margin: 10px;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  h4 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  .mb-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  input,
  textarea,
  button {
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
  }
}