.tituloProductos {
  background-color:  #fcad63;  
  color:white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
  
    h2 {
      font-size: 1rem;
    }
  }
