@import"variables";

.titulosSecundarios {
  background-color: #8ee4eb88;
  color: rgb(61, 86, 155);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 2rem;
  font-size: 1rem;

}

.tituloPrincipal {
  font-weight: bold;
  color: #0f0f0f;
  text-align: center;
  text-transform: uppercase;
  padding: 2rem;
  font-size: 2rem;
}

.tituloSec {
  background-color: #8ee4eb88;

}