header {
  border-bottom: 1px solid #d3d0d0;
}

.logo {
  width: 5rem;
}

.fuentes {
  font-size: 1.5rem;
  padding-left: 2rem;
  text-transform: uppercase;

  li a:hover {
    background-color: rgb(255, 200, 127);
    color: #fff;
  }
}